[alias]
	st = status -s
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	add-deleted = !git ls-files --deleted -z | xargs -0 git rm
	backup = "!git init; git add .; git commit -m 'init commit'; git status"
	adog = log --all --decorate --oneline --graph
	c = !git add -A && git commit -m
	amend = !git add ${1-.} && git commit --amend --no-edit
	f = !git fetch --all && git rebase origin/master
	n = !git checkout -b
	pushfwl = push --force-with-lease
	set-upstream = !git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
[color]
	ui = auto
[credential]
	helper = store
[delta]
    navigate = true  # use n and N to move between diff sections
[diff]
	tool = vscode
[init]
	defaultBranch = main
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
[difftool "vscode"]
    cmd = "code --wait --diff  "
[submodule]
	recurse = true
[push]
	default = current
[user]
	email = fullchee@gmail.com
	name = Fullchee Zhang
[pull]
	rebase = true
